.logo{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    /* identical to box height */
}

.navigation-list-link { 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #000000;  
}

.navigation-list-link:hover,
.navigation-list-link:focus{
    color: #2196F3;
}
.header-mail{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;   
}

.header-tel {
    font-family: "Roboto", sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14
    letter-spacing: 0.02em;
    color: #757575;    
}

.main-head {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    line-height: 60px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    /*color: #FFFFFF;*/
}

.modal-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.87;
    font-weight: bold;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    /*color: #FFFFFF;*/
}

.priority-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.priority-text {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.dong-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: bold;
    color: #212121; 
}

.team-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.188;  
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list-position {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.contact-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.193;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.contact-list-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.715;
    font-weight: normal;
    letter-spacing: 0.03em;
    /*color: rgba(255, 255, 255, 0.6);*/
}




